.profileDiv {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    background-color: rgb(56, 87, 24);
    border-radius: 10%;
    opacity: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5), 2px 2px 5px rgba(0, 0, 0, 5);
}

.button {
    width: 30%;
    background-color: rgb(75, 125, 25);
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: azure;
}

.userIcon {
    color: azure;
    font-size: 100px;
    align-self: center;
}

.username {
    color: azure;
    font-size: 50px;
    align-self: center;
    line-height: 1.2;
    margin-bottom: 3%;
}

.infoDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-content: center;
}

.numberOfArticlesDiv {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 40%;
}

.infoTitle {
    color: azure;
    text-align: center;
    font-size: 30px;
    line-height: 1.1;
    align-self: center;
    justify-self: center;
}

.info {
    color: azure;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 30px;
}

.articleScoreDiv {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 40%;
}

.scoreDiv {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-content: center;
}

.star {
    font-size: 28px;
    color: gold;
    align-self: flex-start;
    justify-self: center;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}