.thumbContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    background-color: rgb(148, 180, 99);
    border-radius: 10px;
    box-shadow: 0 0 0 2px gray;
    margin-top: 1%;
    margin-bottom: 1%;
}

.thumbContainer:hover {
    color: azure;
    box-shadow: 0px 0px 10px rgb(56, 87, 24);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.title {
    font-size: 30px;
    margin: 5%;
    margin-bottom: 10%;
    row-gap: 2%;
    width: 100%;
    line-height: 1.1;
}

.subtitle {
    font-size: 14px;
    color: rgb(11, 14, 11);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.subtitleUsername {
    font-size: 14px;
    color: rgb(11, 14, 11);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.subtitleUsername:hover {
    cursor: pointer;
    color: lightblue;
}

.divRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 5%;
    align-self: center;
    justify-self: center;
    width: 15%;
}

.genre {
    text-shadow: 2px gray;
    width: fit-content;
    text-align: flex-start;
    font-weight: bold;
    margin-bottom: 5%;
    align-self: flex-start;
}

.star {
    color: gold;
    text-shadow: 3px black;
    justify-self: center;
    align-self: flex-start;
}

.score {
    text-align: center;
    align-self: flex-start;
    justify-self: center;
}

.scoreDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}