<div class="signupContainer">
    <label class="title">Sign up to WriteIt!</label>
    <label class="explanationLabel">Fill in our form to create a WriteIt account!</label>
    <div class="form">
        <div class="formColumn">
            <mat-form-field class="formRow">
                <input matNativeControl type="text" placeholder="Username*" #username
                    (input)="setUsername(username.value)" />
            </mat-form-field>
            <mat-form-field class="formRow">
                <input matNativeControl type="email" placeholder="Email*" #email (input)="setEmail(email.value)" />
            </mat-form-field>
        </div>
        <div class="formColumn">
            <mat-form-field class="formRow">
                <input matNativeControl type="password" placeholder="Password*" #password
                    (input)="setPassword(password.value)" />
            </mat-form-field>
            <mat-form-field class="formRow">
                <input matNativeControl type="password" placeholder="Confirm your password*" #confirmPassword
                    (input)="setConfirmedPassword(confirmPassword.value)" />
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="signupButton" (click)="signup()">Sign up</button>
</div>