.searchContainer {
    display: flex;
    flex-direction: column;
}

.searchbarDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 2%;
    justify-self: center;
    width: 100%;
}

.title {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(56, 87, 24);
    width: 80%;
    text-size-adjust: true;
    display: inline-block;
    line-height: 1.1;
    margin-top: 3%;
    margin-bottom: 3%;
}

.searchIcon {
    color: rgb(56, 87, 24);
    font-size: 25px;
    margin-right: 2%;
}

.autocomplete {
    border-radius: 5px;
    color: rgb(56, 87, 24);
    width: 100%;
}

.autocompleteDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.selectDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 20%;
}

.message {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(56, 87, 24);
    text-size-adjust: true;
    line-height: 1.1;
    margin-top: 20%;
}

.searchLabel {
    margin-right: 2%;
    font-size: 15px;
    color: rgb(56, 87, 24);
    font-weight: bold;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.select {
    border-radius: 5px;
    color: rgb(56, 87, 24);
    justify-self: center;
    align-self: flex-start;
}