.searchbarDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 2%;
}

.title {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(56, 87, 24);
    width: 80%;
    text-size-adjust: true;
    display: inline-block;
    line-height: 1.1;
}

.searchIcon {
    color: rgb(56, 87, 24);
    font-size: 25px;
}

.autocomplete {
    border-radius: 5%;
    color: rgb(56, 87, 24);
    width: 30%;
}

.autocompleteDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.selectDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.message {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(56, 87, 24);
    text-size-adjust: true;
    line-height: 1.1;
}