<span *ngIf="article">
    <mat-card class="articleInfo">
        <div class="titleDiv">
            <mat-card-title class="title" #title>{{article.title}}</mat-card-title>
            <mat-card-subtitle class="subtitle">By: {{article.username}}</mat-card-subtitle>
            <mat-card-subtitle class="subtitle">Published on: {{getDate(article.publishedOn)}}</mat-card-subtitle>
            <mat-card-subtitle class="subtitle">Last edited: {{getDate(article.lastEdited)}}</mat-card-subtitle>

        </div>

        <div class="genreDiv">
            <label class="genre">Genre: {{article.genre}}</label>
        </div>

    </mat-card>

    <mat-card class="articleMenu">

        <div class="reportDiv">

            <button mat-raised-button (click)="reportArticle()">
                <fa-icon [icon]="faExclamationCircle" id="report"></fa-icon>Report
            </button>

        </div>

    </mat-card>

    <mat-card class="textEdit">
        <textarea mat-form-field type="text" class="textInput" #textInput id="text" disabled [value]="article.text"
            maxlength="1000"></textarea>
        <label class="charLabel">{{charNumber}}/10000</label>
    </mat-card>

    <mat-divider class="divider"></mat-divider>

    <mat-card class="commentDiv">
        <app-add-review></app-add-review>
    </mat-card>

    <mat-card class="reviews">
        <div class="averageScoreDiv">
            <label *ngIf="article.averageScore" class="averageScore">Score: {{article.averageScore}} <fa-icon
                    [icon]="faStar" class="star"></fa-icon>
            </label>
            <label class="averageScore" *ngIf="!article.averageScore">No score</label>
        </div>

        <app-review *ngFor="let review of reviews" [review]="review"></app-review>
    </mat-card>



</span>