mat-card-title {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(56, 87, 24);
    width: 80%;
    text-size-adjust: true;
    display: inline-block;
    line-height: 1.1;
}

.genreContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
    margin-bottom: 2%;
}

.textContainer {
    text-align: center;
    display: flex;
    width: 80%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.message {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(56, 87, 24);
    text-size-adjust: true;
    line-height: 1.1;
}

.genreLabel {
    font-weight: bold;
    color: rgb(56, 87, 24);
}

.genreSelect {
    margin-left: 1%;
    border-radius: 5px;
    text-align: center;
}