<mat-card>
    <div class="textContainer">
        <mat-card-title> In the last 10 days, the people have written...</mat-card-title>
    </div>
    <div class="genreContainer">
        <label class="genreLabel">Gendre: </label>
        <select class="genreSelect" #genreSelect
            (change)="setGenre((genreSelect.options[genreSelect.selectedIndex]).value)">
            <option value="all" selected>All</option>
            <option value="horror">Horror</option>
            <option value="romance">Romance</option>
            <option value="fantasy">Fantasy</option>
            <option value="thriller">Thriller</option>
            <option value="historical">Historical</option>
        </select>
    </div>
    <app-feed-article-thumb *ngFor="let article of articlesForDisplay" [article]="article"></app-feed-article-thumb>
    <div class="textContainer">
        <mat-card-title class="message">That was all for the last 10 days! Tune again for more!</mat-card-title>
    </div>
</mat-card>