.card {
    width: 80%;
    align-self: center;
    justify-self: center;
    margin-left: 10%;
    margin-bottom: 2%;
}

.opened {
    font-weight: normal;
    justify-content: space-between;
}

.unopened {
    font-weight: bold;
}

.date {
    justify-self: flex-end;
    align-self: flex-end;
}

.button {
    width: 40%;
    background-color: rgb(75, 125, 25);
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: azure;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
}