<mat-accordion *ngIf="notification" (click)="openNotification(notificationTitle)">
    <mat-expansion-panel hideToggle class="card">
        <mat-expansion-panel-header id="expansionHeader" style="background-color:rgb(125, 145, 104)">
            <mat-panel-title class={{class}} style="justify-content: space-between;" #notificationTitle
                id="notificationTitle">
                {{notification.title}}
                <label class="date">
                    {{getDate(notification.sentOn)}}
                </label>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{notification.message}}</p>
        <div class="buttonsDiv">
            <button mat-raised-button class='button'
                *ngIf="notification.deleteArticleOnReception!=null && notification.deleteArticleOnReception==false"
                (click)="gotoArticle()">Go to article</button>
            <button mat-raised-button class='button' *ngIf="notification.senderID!=null " (click)="gotoProfile()">Visit
                profile
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>