<mat-accordion *ngIf="notification" (click)="openNotification(notificationTitle)">
    <mat-expansion-panel hideToggle class="card">
        <mat-expansion-panel-header id="expansionHeader" style="background-color:rgb(125, 145, 104)">
            <mat-panel-title class="unopened" #notificationTitle>
                {{notification.title}}
            </mat-panel-title>
            <label class="date">
                {{getDate(notification.sentOn)}}
            </label>
        </mat-expansion-panel-header>
        <p>{{notification.message}}</p>
        <button class='button' *ngIf="notification.deleteArticleOnReception==false" (click)="gotoArticle()">Go to
            article</button>
    </mat-expansion-panel>
</mat-accordion>