<div class="loginContainer">

    <label class="title">Welcome to WriteIt!</label>
    <mat-form-field class="loginRow">
        <input matNativeControl type="email" placeholder="Email" #email />
    </mat-form-field>

    <mat-form-field class="loginRow">
        <input matNativeControl type="password" placeholder="Password" #password />
    </mat-form-field>

    <button mat-raised-button class="loginButton" #loginButton>Log in</button>

    <label class="signupMessage" #signup>Don't have an account? Sign up!</label>

</div>