.loginRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    align-self: center;
    margin-bottom: 5%;
    width: 80%;
    color: azure;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    position: absolute;
    margin: 10%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(56, 87, 24);
    border-radius: 15%;
    opacity: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5), 2px 2px 5px rgba(0, 0, 0, 5);
}

.title {
    color: azure;
    font-size: 30px;
    align-self: center;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    margin-bottom: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 2px rgba(0, 0, 0, 10);
}

.loginButton {
    width: 30%;
    background-color: rgb(75, 125, 25);
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 5%;
    color: azure;
}

.signupMessage {
    color: azure;
    justify-self: center;
    text-align: center;
    align-self: center;
}