<div class="profileDiv">
    <fa-icon [icon]="faCircleUser" class="userIcon"></fa-icon>
    <label class="username">{{username}}</label>
    <div class="infoDiv">
        <div class="numberOfArticlesDiv">
            <label class="infoTitle">Number of articles: </label>
            <label class="info">{{numberOfArticles}}</label>
        </div>
        <div class="articleScoreDiv">
            <label class="infoTitle">Average article score:</label>
            <div class="scoreDiv">
                <label *ngIf="averageArticleScore!=0" class="info">{{averageArticleScore}}</label>
                <fa-icon *ngIf="averageArticleScore!=0" class="star" [icon]="faStar"> </fa-icon>
                <label *ngIf="averageArticleScore==0" class="info">No score</label>
            </div>
        </div>
    </div>
    <div class="buttonDiv">
        <button mat-raised-button class="button" (click)="gotoMyArticles()">My articles</button>
        <button mat-raised-button class="button" (click)="gotoMySubscriptions()">Subscriptions</button>
    </div>
</div>