<mat-accordion *ngIf="report">
    <mat-expansion-panel hideToggle class="card">
        <mat-expansion-panel-header id="expansionHeader" style="background-color:rgb(125, 145, 104)">
            <mat-panel-title #reportTitle>
                Report on article "{{report.articleTitle}} made by user {{report.username}}"
            </mat-panel-title>
            <label class="date">
                {{getDate(report.reportedOn)}}
            </label>
        </mat-expansion-panel-header>
        <div>
            <button class="button" (click)="resolveReport()">Resolve</button>
            <button class="button" (click)="rejectReport()">Reject</button>
        </div>
        <div>
            <label class="articleTitle">{{report.articleTitle}}</label>
            <textarea class="articleText" [value]="report.articleText" disabled></textarea>
        </div>
    </mat-expansion-panel>
</mat-accordion>