<span>
    <mat-card class="reviewCard">
        <div class="reviewInfo">
            <mat-card-title class="title">Review this article!
            </mat-card-title>
            <mat-card-subtitle class="subtitle">Leave your thoughts about the article and give it a score!
            </mat-card-subtitle>
        </div>
        <div class="commentDiv">
            <textarea id="text" #comment (input)="setComment(comment.value)" class="comment"
                [maxLength]="200"></textarea>
            <div class="scoreDiv">
                <app-score (score)="setScore($event)"></app-score>
            </div>
        </div>
        <button mat-raised-button class="button" (click)="postReview()">Post review</button>
    </mat-card>
</span>